*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #15262F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-container{
    width: 100%;
    min-width: 350px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #4E6570;
    position: relative;
}

.sidebar-music{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 15px 10px;
    background: #4E6570;
    text-align: right;
    display: none;
}

.sidebar-music.OpenSidebar{
    display: block;
}

.sidebar-music i {
    font-size: 20px;
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #495D69;
    line-height: 36px;
    text-align: center;
    box-shadow: 1px 7px 8px rgba(0,0,0,.4);
    cursor: pointer;
}

.sidebar-music .music-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    overflow-Y: auto;
}

.sidebar-music .music-box .artist-content{
    display: flex;
    align-items: center;
}

.sidebar-music .music-box .artist-content img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.artist-text{
    text-align: center;
    margin-left: 30px;
    color: white;
}

.sidebar-music .music-box i {
    background: #E06F26;
    font-size: 15px;
}

.nav-player{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-player i {
    font-size: 20px;
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #495D69;
    line-height: 36px;
    text-align: center;
    box-shadow: 1px 7px 8px rgba(0,0,0,.4);
    cursor: pointer;
}



.menu-controls{
    display: flex;
    align-items: center;
}
.menu-controls i {
    margin-right: 6px;
}

.menu-controls i.fa-volume-up.volumeUpOpen{
    background: #E06F26;
}

.volume-menu {
    width: 187px;
    background: #495D69;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-left: 5px;
    box-shadow: 1px 7px 6px rgba(0,0,0,.7);
    display: none;
}

.volume-menu span {
    display: inline-block;
    width: 38px;
}

.volume-menu.openVolumeMenu{
    display: block;
}



.volume-menu span{
    margin: 0 3px; 
}


.album-content{
    margin: 30px 0;
    color: white;
    text-align: center;
}

.album-content img{
    width: 180px;
    height: 180px;
    max-width: 100%;
    border-radius: 50%;
    object-fit: center;
}

.player-controls{
    width: 100%;
    max-width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.player-controls .song-duration{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controls .song-duration .duration-range{
    margin-right: 5px;
    
}

.song-navigation{
    margin: 30px;
    color: white;
}

.song-navigation i{
    font-size: 20px;
    color: white;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #495D69;
    line-height: 46px;
    text-align: center;
    box-shadow: 2px 7px 8px rgba(0,0,0,.4);
    cursor: pointer;
    margin: 0 5px;
}

.song-navigation i.fa-play{
    background: #E06F26;
    transition: content 1s ease;
}

.song-navigation i.fa-play.pauseIcon::before{
    content: '\f04c'
}

@media screen and (max-width: 360px){
    .player-container{
        width: 100%;
        min-width: 310px;
        padding: 15px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #4E6570;
        position: relative;
    }

    .volume-menu {
        position: relative;
        z-index: 1;
        width: 183px;
        background: #495D69;
        padding: 5px;
        border-radius: 10px;
        color: white;
        margin-left: 1px;
        box-shadow: 1px 7px 6px rgba(0,0,0,.7);
        display: none;
    }

    .volume-menu span{
        margin: 0 1px; 
    }
}